



*{
    margin: none;
    border: none;
    padding: none;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

/* HEADER DA PÁGINA  */

.header{
    background-color: rgb(39, 165, 204);
    opacity: 1;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px; 
    align-items: center; 
    z-index: 1000;
}

.header .header-container-logo p{
    font-size: 1.875rem;
    margin: 0 10px;
    color: aliceblue;
    
}


.header-container-items{
    display: flex;
    align-items: center;
}

.header .header-container-items .links{
    margin: 15px;
    text-decoration: none;
    color: aliceblue;
}



/* INFORMAÇÕES INICIAIS  */


.info-inicial{
    margin: 0;
    border: 0;
    padding: 0;
    height: 700px;
    background-image: url(imagens/si1.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
  
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    
}

.info-inicial .page-inicial-container{
    height: 100%;
}

.info-inicial .page-inicial-container .conteudo .titulo h1{
    font-size: 1.5rem; /* Ajustado para tamanho de texto responsivo */
    margin:  0;
}

.info-inicial .page-inicial-container .conteudo p{
    font-size: 30px;
    margin: 0 20px;
    
}

.info-inicial .page-inicial-container .conteudo .minitexto{
    font-size: 1.25rem;
}
.minitexto{
    color: rgb(255, 255, 255);
}
.txt{
    color: aliceblue;
    padding-top: 75px;
  
   
}

.titulo{
    color: aliceblue;
    padding-left: 122px;

}
    
.tudo{
    width: 90%; /* Ajustado para ser responsivo */
    max-width: 1200px; /* Limita a largura máxima */
    margin: 0 auto;

}



.cor{
    color: white;
}
.titi{
    color: black;
    margin-top: auto;
}
.barra-cinza {
    height: 200px;
    background-color: rgb(233, 233, 233);
}
.barra-cinza .title{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.barra-cinza .items{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nao, .sim, .ok, .ababa {
    
    display: inline-block;
    margin-right: 160px; 
    margin-left: 80px;
    display: inline-block;
    


}
.large{
    font-size: 30px;
    font-weight: bold;
}
.naooq{
    font-size: 30px;
    font-weight: bold;
}
.senhorr{
    font-size: 30px;
    font-weight: bold;
}
.socorro{
    font-size: 30px;
    font-weight: bold;
}
footer {
    background-color: #333; 
    padding: 20px;
    text-align: center;
    color: white;
}

.slider-container {
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    float: right;
    position: absolute;
    top: 250%; 
    right: 20%;
    margin: 20px;
 
    
    }
    
    .slider {
    display: flex;
    transition: transform 0.5s ease;
    
   
    
    }
    .slide {
        flex: 0 0 100%;
        
        }
        
        img {
        width: 100%;
        border-radius: 10px;
        }
        
.btn {
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 1.5rem;
     
    
}

.btn-prev {
   left: 10px;
}
.btn-next {
   right: 10px;
}

.prgf{
    color: rgb(39, 165, 204);
    padding:0 300px;
    
  
} 



   

.sigma{
    padding: 0 300px;
    right: 50px;
}


.nah{
    color: rgb(255, 255, 255);
}
.tu{
    color: rgb(255, 255, 255);
    margin: 0;
    border: 0;
    padding: 0;

}
.imagem7{
    border-radius: 10px ;
    padding: 20px 180px;
 
    top: 20px;
}
.imagn{
    height: 350px;
   
}

.imagem8{
    border-radius: 10px ;
    padding: 20px 180px;
 
    top: 20px;
}
.imagn2{
    height: 350px;
   
}

  
.barraimg {
    background-image: url("sla.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.barra{
        background-color:  rgb(39, 165, 204);
        padding: 50px;
    
}
.cor{
    color: aliceblue;
}
